body {
    margin: 0;
    padding: 0;
}


.button {
    background-color: white;
    padding: 8px 20px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;

}

.primary {
    background-color: #2F70F5;
    color: white;
}

.danger {
    background-color: #F56C6C;
    color: white;
}

.disabled {
    background-color: #cccccc;
    color: #ffffff;
    cursor: not-allowed;
}